@model int
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
<div class="cart-btn">

    <a asp-controller="ShoppingBags" asp-action="Index"><i class="flaticon-cart"></i><span class="badge">@Model</span></a>

</div>