/MyCalisthenicApp/MyCalisthenicApp.Web/appsettings.json
obj
bin
/MyCalisthenicApp/MyCalisthenicApp.Data.Common/bin
/MyCalisthenicApp/MyCalisthenicApp.Data.Common/obj
/MyCalisthenicApp/MyCalisthenicApp.Mapping/bin
/MyCalisthenicApp/MyCalisthenicApp.Mapping/obj
/MyCalisthenicApp/MyCalisthenicApp.Models/obj
/MyCalisthenicApp/MyCalisthenicApp.Models/bin
/MyCalisthenicApp/MyCalisthenicApp.Services/bin
/MyCalisthenicApp/MyCalisthenicApp.Services/obj
/MyCalisthenicApp/MyCalisthenicApp.Services.Tests/bin
/MyCalisthenicApp/MyCalisthenicApp.Services.Tests/obj
/MyCalisthenicApp/MyCalisthenicApp.ViewModels/bin
/MyCalisthenicApp/MyCalisthenicApp.ViewModels/obj
/MyCalisthenicApp/MyCalisthenicApp.Web/obj
/MyCalisthenicApp/MyCalisthenicApp.Web/bin
/MyCalisthenicApp/MyCalisthenicApp.Web.Infrastructure/bin
/MyCalisthenicApp/MyCalisthenicApp.Web.Infrastructure/obj
