.blog-details-area {

    .blog-details {
        background: $color-gray99;

        .blog-details-content {
            padding: 30px 30px 35px 30px;
        }

        .widget_tag_cloud {
            ul li {
                margin: 0px;
            }
        }

        h2 {
            font-weight: 600;
            font-size: 24px;
            letter-spacing: 0.6px;
            color: $grey2;
            margin-bottom: 20px;
        }

        p {
            color: $grey2;
            font-size: 15px;
            letter-spacing: 0.38px;
            font-weight: 400;
            margin-bottom: 20px;
        }

        h6 {
            font-weight: 400;
            font-size: 15px;
            letter-spacing: 0.38px;
            color: #BCBCBC;
            padding-top: 8px;

            span {
                margin-left: 50px;
            }
        }
    }

    .blog-right-content {
        h1 {
            font-size: 24px;
            font-family: var(--body-font);
            font-weight: 600;
            color: $grey2;
            line-height: 18px;
            margin-bottom: 15px;
        }
    }
}

.share-img-item {
    border-bottom: 1px solid rgba(129,129,129,.25);
    width: 100%;
    float: left;
    padding: 20px 0px;

    &:last-child {
        border-bottom: 0px;
    }

    .img-part {
        overflow: hidden;
        float: left;
        width: 30%;
        border-radius: 5px;

        img {
            transition: all 0.5s ease;
            border-radius: 5px;

            &:hover {
                transform: scale(1.1) rotate(2deg);
            }
        }
    }
    .content-part {
        float: left;
        width: 70%;
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 15px;

        h4 {
            color: $grey2;
            font-size: 18px;
            font-weight: 600;
            letter-spacing: 0.38px;
            font-family: var(--body-font);
        }

        .text {
            color: $grey2;
            font-size: 15px;
            font-weight: 500;
            letter-spacing: 0.45px;
            font-family: var(--body-font);
        }
    }
}

.only-thumb {
    img {
        border-radius: 10px;
        margin-top: 30px;
    }
}

.widget_search {
    .form-control {
        color: #BCBCBC;
        letter-spacing: 1.5px;
        font-size: 15px;

        &:focus {
            border: 1px solid $color-main;
        }
    }
    .submit-btn {
        background: #D9D9D9;
        color: $color-black;
    }
}

.widget_categories {
    .widget-title {
        font-size: 24px;
        letter-spacing: 0.6px;
        color: $grey2;
        font-weight: 600;
        margin-bottom: 11px;
        float: left;
        width: 100%;
        margin-top: 38px;
    }

    .cat-menu {
        float: left;
        margin-left: 35px;

        li {
            margin: 0px;
            padding: 10px 0px;

            a {
                color: $grey2;
                font-size: 15px;
                letter-spacing: 0.38px;
                position: relative;

                &:before {
                    position: absolute;
                    width: 25px;
                    height: 2px;
                    background: $grey2;
                    content: '';
                    top: 10px;
                    left: -35px;
                }
            }
        }
    }
} 

.comments-area-wrapper {
    h4 {
        font-size: 24px;
        font-weight: 600;
        letter-spacing: 0.6px;
        color: $grey2;
        border-bottom: 1px solid $color-black;
        padding-bottom: 15px;
    }

    .single-comment {
        .thumb {
            margin-right: 15px;

            img {
                margin-right: 15px;
                border-radius: 50%;
                border: 1px solid #efeeee;
            }
        } 

        .desc {
            h5 {
                color: $color-black;
                font-size: 18px;
                letter-spacing: 0.38px;
                font-weight: 600;
            }

            .comment-content p {
                color: $grey2;
                font-size: 15px;
                letter-spacing: 0.38px;
                font-weight: 400;
            }

            .comment-reply-link {
                color: #000;
                font-size: 14px;
                font-weight: 600;
            }
        }
    } 
}

.comment-respond {
    h3 {
        font-weight: 600;
        letter-spacing: 0.6px;
        font-size: 24px;
        color: $grey2;
        background: #F9F9FA;
        border-radius: 6px;
        padding: 20px 25px;
        margin-top: 47px;
        margin-bottom: 50px;
    }

    .form-control {
        font-size: 15px;
        letter-spacing: 0.38px;
        color: #BCBCBC;
        font-weight: 400;
        padding: 20px;

        &:focus {
            border-color: $color-main;
            box-shadow: none !important;
        }
    }

    #submit {
        background: $color-main;
        font-size: 15px;
        letter-spacing: 0.38px;
        color: $color-white;
        font-weight: 400;
        text-align: center;
        padding: 20px;
        border: 0px;
        border-radius: 5px;
        width: 100%;
        cursor: pointer;
    }
}