@model OrderCheckoutViewModel
@{
    ViewData["Title"] = "Checkout";
}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title> @ViewData["Title"]</title>
    <!-- favicon -->
    <link rel=icon href=/assets/img/favicon.png sizes="20x20" type="image/png">
    <!-- animate -->
    <link rel="stylesheet" href="/assets/css/animate.css">
    <!-- bootstrap -->
    <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
    <!-- magnific popup -->
    <link rel="stylesheet" href="/assets/css/magnific-popup.css">
    <!-- Slick -->
    <link rel="stylesheet" href="/assets/css/slick.css" />
    <link rel="stylesheet" href="/assets/css/slick-theme.css" />
    <!-- nice select -->
    <link rel="stylesheet" href="/assets/css/nice-select.css">
    <!-- owl carousel -->
    <link rel="stylesheet" href="/assets/css/owl.carousel.min.css">
    <!-- fontawesome -->
    <link rel="stylesheet" href="/assets/css/font-awesome.min.css">
    <!-- flaticon -->
    <link rel="stylesheet" href="/assets/css/flaticon.css">
    <!-- hamburgers -->
    <link rel="stylesheet" href="/assets/css/hamburgers.min.css">
    <!-- Main Stylesheet -->
    <link rel="stylesheet" href="/assets/css/style.css">
    <!-- responsive Stylesheet -->
    <link rel="stylesheet" href="/assets/css/responsive.css">
</head>
<body>

    <!-- breadcrumb area -->
    <div class="breadcrumb-style-1 shopping-cart-breadcrumb-overlay" style="background-image:url(/assets/img/bg/shopping-cart.png);">
        <div class="breadcrumb-inner">
            <h1 class="page-title">Payment Method</h1>
            <ul class="page-list margin-bottom-7">
                <li><a asp-controller="Home" asp-action="Index">Home</a></li>
                <li><a asp-controller="Payments" asp-action="Index">Payment method</a></li>
            </ul>
        </div>
    </div>
    <!-- breadcrumb area end -->
    <!-- payment start -->

    <div class="payment-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-7">
                    <div class="payment-content">
                        <div class="title">
                            <h2>Payment Method</h2>
                        </div>
                        <div class="payment-tab">
                            <ul class="nav nav-pills">
                                <li>
                                    <a data-toggle="pill" href="#home" class="active">
                                        <div class="tab-item">
                                            <h1>On delivery</h1>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a data-toggle="pill" href="#menu1">
                                        <div class="tab-item">
                                            <h1>EPay</h1>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a data-toggle="pill" href="#menu2">
                                        <div class="tab-item">
                                            <h1>PayPal</h1>
                                        </div>
                                    </a>
                                </li>
                            </ul>
                            <div class="tab-content">
                                <div id="home" class="tab-pane fade in active show">
                                    <div class="all-tab-content">
                                        <h2>Payment Details</h2>
                                        <div class="card-option">
                                            <div class="form-group">
                                                <form asp-controller="Payments" asp-action="OnDelivery" asp-route-id="@Model.Id">
                                                    <img src="https://www.shop.sws-solutions.nl/content/images/thumbs/0001187_cash-on-delivery-with-verification-plugin-for-nopcommerce_300.jpeg" height="180" width="350" alt="epay-logo" />
                                                    <div class="form-row">
                                                        <div class="form-group col-md-9 offset-md-1">
                                                            <div class="btn-wrapper">
                                                                <button type="submit" class="btn btn-block btn-element btn-lg-size btn-main-color btn-rounded">Checkout</button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div id="menu1" class="tab-pane fade">
                                    <div class="all-tab-content">
                                        <h2>Coming soon...</h2>
                                        <div class="card-option">
                                            <div class="form-group">
                                                <form>
                                                    <div class="form-row">
                                                        <div class="form-group col-md-7">
                                                            <label for="email">Enter email</label>
                                                            <input type="email" class="form-control" id="email" placeholder="demo@gmail.com">
                                                        </div>
                                                        <div class="form-group col-md-5 d-none d-md-block">
                                                            <img src="https://www.oltrans.bg/wp-content/uploads/2017/01/epay2.jpg" height="100" width="300" alt="easypay-logo" />
                                                        </div>
                                                    </div>
                                                    <div class="form-row">
                                                        <div class="form-group col-md-9 offset-md-1">
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div id="menu2" class="tab-pane fade">
                                    <div class="all-tab-content">
                                        <h2>Coming soon...</h2>
                                        <div class="card-option">
                                            <div class="form-group">
                                                <form>
                                                    <div class="form-row">
                                                        <div class="form-group col-md-7">
                                                            <label for="email">Enter email</label>
                                                            <input type="email" class="form-control" id="email" placeholder="demo@gmail.com">
                                                        </div>
                                                        <div class="form-group col-md-5 d-none d-md-block">
                                                            <img src="https://mm.ge/uploaded/newslwMe3dxL.png" height="100" width="300" alt="easypay-logo" />
                                                        </div>
                                                    </div>
                                                    <div class="form-row">
                                                        <div class="form-group col-md-9 offset-md-1">
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                @await Component.InvokeAsync("InvoiceSummary")

            </div>
        </div>
    </div>
    <!-- payment end -->
    <!-- jquery -->
    <script src="/assets/js/jquery-2.2.4.min.js"></script>
    <!-- popper -->
    <script src="/assets/js/popper.min.js"></script>
    <!-- bootstrap -->
    <script src="/assets/js/bootstrap.min.js"></script>
    <!-- magnific popup -->
    <script src="/assets/js/jquery.magnific-popup.js"></script>
    <!-- wow -->
    <script src="/assets/js/wow.min.js"></script>
    <!-- nice select -->
    <script src="/assets/js/nice-select.js"></script>
    <!-- counter up -->
    <script src="/assets/js/counter-up.js"></script>
    <!-- owl carousel -->
    <script src="/assets/js/owl.carousel.min.js"></script>
    <!-- Slick -->
    <script src="/assets/js/slick.min.js"></script>
    <!-- Slick Animation -->
    <script src="/assets/js/slick-animation.js"></script>
    <!-- waypoint -->
    <script src="/assets/js/waypoints.min.js"></script>
    <!-- counterup -->
    <script src="/assets/js/jquery.counterup.min.js"></script>
    <!-- imageloaded -->
    <script src="/assets/js/imagesloaded.pkgd.min.js"></script>
    <!-- isotope -->
    <script src="/assets/js/isotope.pkgd.min.js"></script>
    <!-- rProgressbar -->
    <script src="/assets/js/jQuery.rProgressbar.min.js"></script>
    <!-- main js -->
    <script src="/assets/js/main.js"></script>
    <script src="/assets/js/script.js"></script>
</body>
</html>