@*Implement credit card here*@

<div id="home" class="tab-pane fade in active show">
    <div class="all-tab-content">
        <h2>Payment Details</h2>
        <div  class="card-option">
            <div class="form-group">
                <form  method="post">
                    <div class="form-row">
                        <div class="form-group col-xl-8 col-lg-6">
                            <label for="number">Card Number</label>
                            <input type="number" class="form-control" id="number" placeholder="5678 1234 5634 9012">
                        </div>
                        <div class="form-group col-xl-4 col-lg-6 d-none d-md-block">
                            <img src="/assets/img/bg/credit-cards-logo.png" height="100" width="300" alt="credit-cards-logo" />
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-8">
                            <label for="name">Cardholder Name</label>
                            <input type="text" class="form-control" id="name" placeholder="Richard Hendricks">
                        </div>
                        <div class="form-group col-md-4">
                            <label for="exp">Expiration</label>
                            <input type="text" class="form-control" id="exp" placeholder="10/2021">
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-2">
                            <label for="cvv">CVV</label>
                            <input type="text" class="form-control" id="cvv" placeholder="543">
                        </div>
                        <div class="form-group col-md-9 offset-md-1">
                            <div class="btn-wrapper">
                                <a href="#" class="btn btn-block btn-element btn-lg-size btn-main-color btn-rounded">Checkout</a>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>