@model IEnumerable<MembershipPlanViewModel>
@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@{
    decimal? membershipPrice = 0;
    var user = new ApplicationUser();

    if (this.User.Identity.IsAuthenticated)
    {
        user = await UserManager.GetUserAsync(User);

        if (user.Orders.Any(o => o.UserId == user.Id))
        {
            membershipPrice = user.Orders.Where(o => o.UserId == user.Id).Select(o => o.MembershipPrice).FirstOrDefault();
        }
    }

}
<!-- pricing start -->
<div class="pricing-area padding-top-90">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-title padding-bottom-65 text-center">
                    <p class="subtitle">Become A Part of us</p>
                    <h1 class="title">Our Membership</h1>
                </div>
            </div>
        </div>
        <div class="row">
            @foreach (var membershipPlan in Model)
            {
                <div class="col-lg-4 col-md-6 col-12">
                    <div class="single-pricing-style-01 pricing-item-bg1">
                        @if (membershipPrice == 89.99M && membershipPlan.Name == "Intermediate" && user.HasMembership)
                        {
                            <h2 class="off-style-1 text-danger">PAID</h2>
                        }
                        @if (membershipPrice == 98.99M && membershipPlan.Name == "Advanced" && user.HasMembership)
                        {
                            <h2 class="off-style-1 text-danger">PAID</h2>
                        }
                        @if (user.HasMembership == false)
                        {
                            <h2 class="off-style-1">@(membershipPlan.Name == "Beginner" ? "Free" : "10% Off")</h2>
                        }
                        <div class="pricing-icon text-center">
                            <a asp-controller="Payments" asp-action="Index"><i class="flaticon-weight" aria-hidden="true"></i></a>
                        </div>
                        <div class="plan-title">
                            <h3>@membershipPlan.Name</h3>
                        </div>
                        <ul>
                            <li><span>$@(membershipPlan.YearlyPrice == null ? 0 : membershipPlan.YearlyPrice)</span></li>
                            <li>/per year</li>
                            @if (membershipPlan.Name == "Beginner")
                            {
                                <li>Free programs</li>
                                <li>24 Hours Support</li>
                                <li> All Over the World</li>
                                <li class="text-danger">Limited exercises</li>
                                <li class="text-danger">No coaches guidance</li>
                                <li class="text-danger">No personalized plans</li>
                            }
                            else if (membershipPlan.Name == "Advanced")
                            {
                                <li class="text-danger">Online chat and 24 Hours Support</li>
                                <li>Premium programs</li>
                                <li> All Over the World</li>
                                <li>Customer Managment</li>
                                <li>Personalized training plans</li>
                                <li>Coaches guidance</li>
                            }
                            else
                            {
                                <li>Premium programs</li>
                                <li>24 Hours Support</li>
                                <li> All Over the World</li>
                                <li>Customer Managment</li>
                                <li>Personalized training plans</li>
                                <li>Coaches guidance</li>
                            }

                        </ul>
                        <div class="btn-wrapper desktop-center">
                            @if (membershipPlan.Name == "Beginner")
                            {
                                <button disabled class="btn btn-element btn-normal-size btn-transparent-color btn-rounded">Free</button>
                            }
                            else
                            {
                                <a asp-controller="Memberships" asp-action="Buy" asp-route-id="@membershipPlan.Id" class="btn btn-element btn-normal-size btn-transparent-color btn-rounded">Select Plan</a>
                            }

                        </div>
                    </div>
                </div>
            }

        </div>
    </div>
</div>
<!-- pricing end -->
