@page
@model AccessDeniedModel
@{
    ViewData["Title"] = "Access denied";
    Layout = "~/Views/Shared/Layouts/_LayoutIdentity.cshtml";
}

<header>
    <h1 class="text-danger">@ViewData["Title"]</h1>
    <div style="height:600px;">
        <p class="text-danger">You do not have access to this resource.</p>
    </div>
</header>
