
@{
    ViewData["Title"] = "Successfull Contact";
    Layout = "~/Views/Shared/Layouts/_LayoutIdentity.cshtml";
}
<body>
    <div style="height:400px;">
        <h2 class="text-dark">Your message has been sent successfully.</h2>
        <h4 class="text-dark">Thank you for contacting us! We will keep in touch with you very soon...</h4>
        <div class="mt-5">
            <a class="text-dark" asp-controller="Home" asp-action="Index">Back to Home</a>
        </div>
    </div>
</body>


