<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>MyCalisthenicApp</title>
    <!-- favicon -->
    <link rel=icon href=/assets/img/favicon.png sizes="20x20" type="image/png">
    <!-- animate -->
    <link rel="stylesheet" href="/assets/css/animate.css">
    <!-- bootstrap -->
    <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
    <!-- magnific popup -->
    <link rel="stylesheet" href="/assets/css/magnific-popup.css">
    <!-- Slick -->
    <link rel="stylesheet" href="/assets/css/slick.css" />
    <link rel="stylesheet" href="/assets/css/slick-theme.css" />
    <!-- owl carousel -->
    <link rel="stylesheet" href="/assets/css/owl.carousel.min.css">
    <!-- fontawesome -->
    <link rel="stylesheet" href="/assets/css/font-awesome.min.css">
    <!-- flaticon -->
    <link rel="stylesheet" href="/assets/css/flaticon.css">
    <!-- hamburgers -->
    <link rel="stylesheet" href="/assets/css/hamburgers.min.css">
    <!-- nice select -->
    <link rel="stylesheet" href="/assets/css/nice-select.css">
    <!-- Main Stylesheet -->
    <link rel="stylesheet" href="/assets/css/style.css">
    <!-- responsive Stylesheet -->
    <link rel="stylesheet" href="/assets/css/responsive.css">

</head>
<body>

    <!-- breadcrumb area -->
    <div class="breadcrumb-style-1" style="background-image:url(/assets/img/bg/blog-details.png);">
        <div class="breadcrumb-inner">
            <h1 class="page-title">Blog Details</h1>
            <ul class="page-list margin-bottom-4">
                <li><a href="/">Home</a></li>
                <li><a href="/Blogs/Details">Blog Details</a></li>
            </ul>
        </div>
    </div>
    <!-- breadcrumb area end -->
    <!-- home blog start -->
    <div class="blog-details-area margin-top-100">
        <main id="main" class="site-main">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8">
                        <article class="blog-details">
                            <div class="blog-img">
                                <img src="/assets/img/bg/blog-top.png" class="attachment-siiimple_full size-siiimple_full wp-post-image" alt="">
                            </div>
                            <div class="blog-details-content">
                                <h6> October 7, 2019<a href="/Blogs/Details"><span>Admin</span></a></h6>
                                <h2>Improve your health</h2>
                                <p>Sometimes ‘short and sweet’ workouts are all you need. If you've done a HIIT workout before you would agree. Prepared do an dissuade be so whatever steepest. Yet her beyond looked either day wished nay. By doubtful disposed do juvenile an. Now curiosity you explained immediate. .</p>
                                <p>we denounce with righteous indignation and dislike men who are so beguiled and demoralized by the charms of pleasure of the moment, so blinded by desire, that they cannot foresee the pain and trouble that are bound to ensue; and equal blame belongs to those who fail in their duty through weakness of will, which is the same as saying through shrinking from toil and pain. These cases are perfectly simple and easy to distinguish. In a free hour, when our power of choice is untrammelled and when nothing prevents our being able to do what we like best, every pleasure is to be welcomed and every pain avoided. But in certain circumstances and owing to the claims of duty or the obligations of business it will frequently occur that pleasures have to be repudiated and annoyances accepted. The wise man therefore always holds in these matters to this principle of selection: he rejects pleasures to secure other greater pleasures, or else he endures pains to avoid worse pains.</p>
                                <p>Sometimes ‘short and sweet’ workouts are all you need. If you've done a HIIT workout before you would agree. Prepared do an dissuade be so whatever steepest. Yet her beyond looked either day wished nay. By doubtful disposed do juvenile an. Now curiosity you explained immediate. .</p>
                            </div>
                        </article>

                        @*Implement reply and comments here*@

                        <div id="comments" class="comments-area comments-area-wrapper">
                            <h4 class="comments-title">Comments</h4>
                            <ul class="comment-list">
                                <li class="comment">
                                    <div class="single-comment justify-content-between d-flex">
                                        <div class="user justify-content-between d-flex">
                                            <div class="thumb">
                                                <img alt="" src="/assets/img/blog/avatar.png" class="avatar">
                                            </div>
                                            <div class="desc">
                                                <div class="d-flex justify-content-between comment_title">
                                                    <div class="d-flex align-items-center">
                                                        <h5>Sharifur</h5>
                                                    </div>
                                                </div>
                                                <div class="comment-content">
                                                    <p>Sometimes ‘short and sweet’ workouts are all you need. If you've done a HIIT workout before you would agree. Prepared do an dissuade be so whatever steepest.</p>
                                                </div>
                                                <div class="reply-btn">
                                                    <a class="comment-reply-link" href="#">Reply</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <ul class="children">
                                        <li class="comment">
                                            <div class="single-comment justify-content-between d-flex">
                                                <div class="user justify-content-between d-flex">
                                                    <div class="thumb">
                                                        <img alt="" src="assets/img/blog/avatar2.jpg" class="avatar">
                                                    </div>
                                                    <div class="desc">
                                                        <div class="d-flex justify-content-between comment_title">
                                                            <div class="d-flex align-items-center">
                                                                <h5>Naeem</h5>
                                                            </div>
                                                        </div>
                                                        <div class="comment-content">
                                                            <p>Sometimes ‘short and sweet’ workouts are all you need. If you've done a HIIT workout before you would agree. Prepared do an dissuade be so whatever steepest.</p>
                                                        </div>
                                                        <div class="reply-btn">
                                                            <a class="comment-reply-link" href="#">Reply</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </li>
                                <li class="comment">
                                    <div class="single-comment justify-content-between d-flex">
                                        <div class="user justify-content-between d-flex">
                                            <div class="thumb">
                                                <img alt="" src="assets/img/blog/avatar3.jpg" class="avatar">
                                            </div>
                                            <div class="desc">
                                                <div class="d-flex justify-content-between comment_title">
                                                    <div class="d-flex align-items-center">
                                                        <h5>Asade</h5>
                                                    </div>
                                                </div>
                                                <div class="comment-content">
                                                    <p>Sometimes ‘short and sweet’ workouts are all you need. If you've done a HIIT workout before you would agree. Prepared do an dissuade be so whatever steepest.</p>
                                                </div>
                                                <div class="reply-btn">
                                                    <a class="comment-reply-link" href="#">Reply</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                            <div id="respond" class="comment-respond">
                                <h3 class="comment-reply-title">Leave A Reply</h3>
                                <form id="comment_form" class="commentform">
                                    <div class="form-group margin-bottom-30">
                                        <textarea name="comment" id="comment" class="form-control w-100" cols="30" rows="9"></textarea>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <div class="form-group">
                                                <input type="text" id="author" name="author" value="" class="form-control" placeholder="Write your name">
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <div class="form-group">
                                                <input type="email" class="form-control" name="email" id="email" value="" placeholder="Enter your email">
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <p class="form-submit">
                                                <input name="submit" type="submit" id="submit" value="Submit Comment">
                                            </p>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="blog-right-content widget-area sidebar">
                            <div class="widget widget_search">
                                <form class="search-form">
                                    <div class="form-group">
                                        <input type="text" name="search" class="form-control" placeholder="Search here">
                                    </div>
                                    <button class="submit-btn" type="submit"><i class="fa fa-search"></i></button>
                                </form>
                            </div>
                            <div class="widget latest-post-widget">
                                <div class="eidget-title">
                                    <h1>Latest posts</h1>
                                </div>
                                <div class="share-img-item">
                                    <div class="img-part">
                                        <a href="/Blogs/Details"><img src="/assets/img/blog/latest-post.png" alt=""></a>
                                    </div>
                                    <div class="content-part">
                                        <h4>People new gym center</h4>
                                        <span class="text">There are many variations of passages of Lorem Ipsum</span>
                                    </div>
                                </div>
                                <div class="share-img-item">
                                    <div class="img-part">
                                        <a href="/Blogs/Details"><img src="/assets/img/blog/post2.png" alt=""></a>
                                    </div>
                                    <div class="content-part">
                                        <h4>Just like a stability ball</h4>
                                        <span class="text">There are many variations of passages of Lorem Ipsum</span>
                                    </div>
                                </div>
                                <div class="share-img-item">
                                    <div class="img-part">
                                        <a href="/Blogs/Details"><img src="/assets/img/blog/post3.png" alt=""></a>
                                    </div>
                                    <div class="content-part">
                                        <h4>Cable Pulley Machines</h4>
                                        <span class="text">There are many variations of passages of Lorem Ipsum</span>
                                    </div>
                                </div>
                                <div class="share-img-item">
                                    <div class="img-part">
                                        <a href="/Blogs/Details"><img src="/assets/img/blog/post4.png" alt=""></a>
                                    </div>
                                    <div class="content-part">
                                        <h4>Train different parts</h4>
                                        <span class="text">There are many variations of passages of Lorem Ipsum</span>
                                    </div>
                                </div>
                            </div>
                            <div class="widget">
                                <div class="thumb only-thumb">
                                    <img src="/assets/img/blog/big-thumb.png" alt="">
                                </div>
                            </div>
                            <div class="widget widget_categories">
                                <h5 class="widget-title">Categories</h5>
                                <ul class="cat-menu">
                                    <li><a href="#">How to</a></li>
                                    <li><a href="#">Beginner Calisthenics</a></li>
                                    <li><a href="#">Advanced Calisthenics</a></li>
                                    <li><a href="#">Motivation</a></li>
                                    <li><a href="#">Skills/Technique</a></li>
                                    <li><a href="#">Workout/Training</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
    
    <!-- back to top area start -->
    <div class="back-to-top">
        <span class="back-top"><i class="fa fa-angle-up"></i></span>
    </div>
    <!-- back to top area end -->
    <!-- jquery -->
    <script src="/assets/js/jquery-2.2.4.min.js"></script>
    <!-- popper -->
    <script src="/assets/js/popper.min.js"></script>
    <!-- bootstrap -->
    <script src="/assets/js/bootstrap.min.js"></script>
    <!-- magnific popup -->
    <script src="/assets/js/jquery.magnific-popup.js"></script>
    <!-- Slick -->
    <script src="/assets/js/slick.min.js"></script>
    <!-- Slick Animation -->
    <script src="/assets/js/slick-animation.js"></script>
    <!-- wow -->
    <script src="/assets/js/wow.min.js"></script>
    <!-- nice select -->
    <script src="/assets/js/nice-select.js"></script>
    <!-- owl carousel -->
    <script src="/assets/js/owl.carousel.min.js"></script>
    <!-- waypoint -->
    <script src="/assets/js/waypoints.min.js"></script>
    <!-- counterup -->
    <script src="/assets/js/jquery.counterup.min.js"></script>
    <!-- imageloaded -->
    <script src="/assets/js/imagesloaded.pkgd.min.js"></script>
    <!-- isotope -->
    <script src="/assets/js/isotope.pkgd.min.js"></script>
    <!-- rProgressbar -->
    <script src="/assets/js/jQuery.rProgressbar.min.js"></script>
    <!-- main js -->
    <script src="/assets/js/main.js"></script>
    <script src="/assets/js/script.js"></script>

</body>
</html>