<!-- navbar start -->
<div class="calisthenic-navbar">
    <nav class="navbar navbar-area navbar-expand-lg nav-style-01 bg-dark">
        <div class="container nav-container">
            <div class="logo">
                <a asp-area="" asp-controller="Home" asp-action="Index"> <img src="/assets/img/logo.png" alt="logo"></a>
            </div>
            <div class="collapse navbar-collapse" id="billatrail_main_menu">
                <ul class="navbar-nav menu-open">
                    <li class="mr-5">
                        <a class="text-danger" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                    </li>

                    <li class="menu-item-has-children mr-5">
                        <a class="text-danger" href="#">Users and their info</a>
                        <ul class="sub-menu">
                            <li><a class="text-danger" asp-controller="Users" asp-action="All">All users</a></li>
                            <li><a class="text-danger" asp-controller="Users" asp-action="Banned">Banned users</a></li>
                            <li><a class="text-danger" asp-controller="Users" asp-action="Requests">Requests</a></li>
                        </ul>
                    </li>
                    <li class="menu-item-has-children mr-5">
                        <a class="text-danger" href="#">Items and their info</a>
                        <ul class="sub-menu">
                            <li><a class="text-danger" asp-controller="Products" asp-action="AllProducts">Products</a></li>
                            <li><a class="text-danger" asp-controller="Posts" asp-action="All">Posts</a></li>
                            <li><a class="text-danger" asp-controller="Programs" asp-action="All">Programs</a></li>
                            <li><a class="text-danger" asp-controller="Exercises" asp-action="All">Exercises</a></li>
                            <li><a class="text-danger" asp-controller="Memberships" asp-action="All">Memberships</a></li>
                            <li><a class="text-danger" asp-controller="Suppliers" asp-action="All">Suppliers</a></li>
                            <li><a class="text-danger" asp-controller="Images" asp-action="All">Images</a></li>
                        </ul>
                    </li>

                    <li class="menu-item-has-children mr-5">
                        <a class="text-danger" href="#">Create items</a>
                        <ul class="sub-menu">
                            <li><a class="text-danger" asp-controller="Categories" asp-action="CreateBlogCategory">Blog category</a></li>
                            <li><a class="text-danger" asp-controller="Categories" asp-action="CreateProgramCategory">Program category</a></li>
                            <li><a class="text-danger" asp-controller="Categories" asp-action="CreateProductCategory">Product category</a></li>
                            <li><a class="text-danger" asp-controller="Exercises" asp-action="Create">Exercise</a></li>
                            <li><a class="text-danger" asp-controller="Images" asp-action="Create">Images</a></li>

                        </ul>
                    </li>
                    <li class="mr-5"><a class="text-danger" asp-area="Identity" asp-page="/Account/Logout">Logout</a></li>
                </ul>
            </div>
        </div>
    </nav>
</div>
<!-- navbar end -->
