<!-- home shopping start -->
@*TODO Redirect to shop*@

<div class="row">
    <div class="col-lg-12 shopping-slider shopping-slider-item text-center">
        <div class="shop-single-item">
            <div class="top-content">
                <div class="thumb">
                    <img src="/assets/img/home/shopping/1.png" alt="shopping">
                </div>
                <div class="hover-content">
                    <div class="btn-wrapper desktop-center">
                        <a asp-controller="Home" asp-action="ShoppingBag" class="btn btn-element btn-normal-size btn-rounded">Add to cart</a>
                    </div>
                </div>
            </div>
            <div class="bottom-content">
                <p class="subtitle">Fitness, Accessories</p>
                <h3><a asp-controller="Products" asp-action="Details">Free Dumbbell Ball</a></h3>
                <p class="price">
                    <ins>
                        <span class="woocommerce-Price-amount amount">
                            <span class="woocommerce-Price-currencySymbol">$</span>34.00
                        </span>
                    </ins>
                    <del>
                        <span class="woocommerce-Price-amount amount">
                            <span class="woocommerce-Price-currencySymbol">$</span>50.00
                        </span>
                    </del>
                </p>
            </div>
        </div>
        <div class="shop-single-item">
            <div class="top-content">
                <div class="thumb">
                    <img src="/assets/img/home/shopping/2.png" alt="shopping">
                </div>
                <div class="hover-content">
                    <div class="btn-wrapper desktop-center">
                        <a asp-controller="Home" asp-action="ShoppingBag" class="btn btn-element btn-normal-size btn-rounded">Add to cart</a>
                    </div>
                </div>
            </div>
            <div class="bottom-content">
                <p class="subtitle">Gym, Accessories</p>
                <h3><a asp-controller="Products" asp-action="Details">Incline Bench Press</a></h3>
                <p class="price">
                    <ins>
                        <span class="woocommerce-Price-amount amount">
                            <span class="woocommerce-Price-currencySymbol">$</span>34.00
                        </span>
                    </ins>
                    <del>
                        <span class="woocommerce-Price-amount amount">
                            <span class="woocommerce-Price-currencySymbol">$</span>50.00
                        </span>
                    </del>
                </p>
            </div>
        </div>
        <div class="shop-single-item">
            <div class="top-content">
                <div class="thumb">
                    <img src="/assets/img/home/shopping/3.png" alt="shopping">
                </div>
                <div class="hover-content">
                    <div class="btn-wrapper desktop-center">
                        <a asp-controller="Home" asp-action="ShoppingBag" class="btn btn-element btn-normal-size btn-rounded">Add to cart</a>
                    </div>
                </div>
            </div>
            <div class="bottom-content">
                <p class="subtitle">Health, Accessories</p>
                <h3><a asp-controller="Products" asp-action="Details">Pec Deck Machine</a></h3>
                <p class="price">
                    <ins>
                        <span class="woocommerce-Price-amount amount">
                            <span class="woocommerce-Price-currencySymbol">$</span>34.00
                        </span>
                    </ins>
                    <del>
                        <span class="woocommerce-Price-amount amount">
                            <span class="woocommerce-Price-currencySymbol">$</span>50.00
                        </span>
                    </del>
                </p>
            </div>
        </div>
        <div class="shop-single-item">
            <div class="top-content">
                <div class="thumb">
                    <img src="/assets/img/home/shopping/4.png" alt="shopping">
                </div>
                <div class="hover-content">
                    <div class="btn-wrapper desktop-center">
                        <a asp-controller="Home" asp-action="ShoppingBag" class="btn btn-element btn-normal-size btn-rounded">Add to cart</a>
                    </div>
                </div>
            </div>
            <div class="bottom-content">
                <p class="subtitle">Weight, Accessories</p>
                <h3><a asp-controller="Products" asp-action="Details">Pull-Down Machine</a></h3>
                <p class="price">
                    <ins>
                        <span class="woocommerce-Price-amount amount">
                            <span class="woocommerce-Price-currencySymbol">$</span>34.00
                        </span>
                    </ins>
                    <del>
                        <span class="woocommerce-Price-amount amount">
                            <span class="woocommerce-Price-currencySymbol">$</span>50.00
                        </span>
                    </del>
                </p>
            </div>
        </div>
        <div class="shop-single-item">
            <div class="top-content">
                <div class="thumb">
                    <img src="/assets/img/home/shopping/5.png" alt="shopping">
                </div>
                <div class="hover-content">
                    <div class="btn-wrapper desktop-center">
                        <a asp-controller="Home" asp-action="ShoppingBag" class="btn btn-element btn-normal-size btn-rounded">Add to cart</a>
                    </div>
                </div>
            </div>
            <div class="bottom-content">
                <p class="subtitle">Yoga, Accessories</p>
                <h3><a asp-controller="Products" asp-action="Details">Inclined Bench Press</a></h3>
                <p class="price">
                    <ins>
                        <span class="woocommerce-Price-amount amount">
                            <span class="woocommerce-Price-currencySymbol">$</span>34.00
                        </span>
                    </ins>
                    <del>
                        <span class="woocommerce-Price-amount amount">
                            <span class="woocommerce-Price-currencySymbol">$</span>50.00
                        </span>
                    </del>
                </p>
            </div>
        </div>
        <div class="shop-single-item">
            <div class="top-content">
                <div class="thumb">
                    <img src="/assets/img/home/shopping/12.png" alt="shopping">
                </div>
                <div class="hover-content">
                    <div class="btn-wrapper desktop-center">
                        <a asp-controller="Home" asp-action="ShoppingBag" class="btn btn-element btn-normal-size btn-rounded">Add to cart</a>
                    </div>
                </div>
            </div>
            <div class="bottom-content">
                <p class="subtitle">Health, Accessories</p>
                <h3><a asp-controller="Products" asp-action="Details">Hammer Strength</a></h3>
                <p class="price">
                    <ins>
                        <span class="woocommerce-Price-amount amount">
                            <span class="woocommerce-Price-currencySymbol">$</span>34.00
                        </span>
                    </ins>
                    <del>
                        <span class="woocommerce-Price-amount amount">
                            <span class="woocommerce-Price-currencySymbol">$</span>50.00
                        </span>
                    </del>
                </p>
            </div>
        </div>
    </div>
</div>
<!-- home shopping end -->
