@{

    ViewData["Title"] = "Profile";
    Layout = "~/Views/Shared/Layouts/_LayoutIdentity.cshtml";

}

<partial name="_ManageNav" />

<div  style="height:600px;" class="mt-3 text-dark">
    @RenderBody()
</div>

@section Scripts {
    @RenderSection("Scripts", required: false)
}