@*Implement invoice here*@

<div class="col-lg-5">
    <div class="invoice">
        <div class="invoice-top">
            <h2>Invoice # 428836 Summary</h2>
            <h6>Estimated Delivery : 25 - 28 July</h6>
        </div>
        <div class="invoice-bottom">
            <ul class="single-item">
                <li class="single-cart-item">
                    <div class="thumb">
                        <img src="/assets/img/product-details/cart2.png" alt="">
                    </div>
                    <div class="content">
                        <h3>Elliptical Trainer<br> <span>It is one of the widely popular</span></h3>
                        <span>$250.00</span>
                    </div>
                    <span class="close">x</span>
                </li>
                <li class="single-cart-item">
                    <div class="thumb">
                        <img src="/assets/img/product-details/cart3.png" alt="">
                    </div>
                    <div class="content">
                        <h3>Treadmill<br> <span>Cable Pulley Machines</span></h3>
                        <span>$250.00</span>
                    </div>
                    <span class="close">x</span>
                </li>
                <li class="single-cart-item">
                    <div class="thumb">
                        <img src="/assets/img/product-details/cart4.png" alt="">
                    </div>
                    <div class="content">
                        <h3>Bench Press<br> <span>Should be present in every gym</span></h3>
                        <span>$250.00</span>
                    </div>
                    <span class="close">x</span>
                </li>
            </ul>
            <div class="total">
                <h3>Total</h3>
                <p class="text-right">$1250.00</p>
            </div>
            <div class="btn-wrapper desktop-center">
                <a asp-controller="ShoppingCarts" asp-action="Index" class="btn btn-element btn-lg-size btn-main-color btn-rounded btn-continue">Continue To Payment</a>
            </div>

            <div class="btn-wrapper desktop-center">
                <a href="#" class="btn btn-invoice">Cancel Invoice <i class="fa fa-long-arrow-right"></i></a>
            </div>
        </div>
    </div>
</div>