@using Microsoft.AspNetCore.Identity

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>@ViewData["Title"] MyCalisthenicApp</title>
    <!-- favicon -->
    <link rel=icon href=/assets/img/favicon.png sizes="20x20" type="image/png">
    <!-- tag-helpers-colors -->
    <link rel="stylesheet" href="~/assets/css/tag-helpers-color.css">
    <!-- animate -->
    <link rel="stylesheet" href="~/assets/css/animate.css">
    <!-- bootstrap -->
    <link rel="stylesheet" href="~/assets/css/bootstrap.min.css">
    <!-- magnific popup -->
    <link rel="stylesheet" href="~/assets/css/magnific-popup.css">
    <!-- Slick -->
    <link rel="stylesheet" href="~/assets/css/slick.css" />
    <link rel="stylesheet" href="~/assets/css/slick-theme.css" />
    <!-- nice select -->
    <link rel="stylesheet" href="~/assets/css/nice-select.css">
    <!-- owl carousel -->
    <link rel="stylesheet" href="~/assets/css/owl.carousel.min.css">
    <!-- fontawesome -->
    <link rel="stylesheet" href="~/assets/css/font-awesome.min.css">
    <!-- flaticon -->
    <link rel="stylesheet" href="~/assets/css/flaticon.css">
    <!-- hamburgers -->
    <link rel="stylesheet" href="~/assets/css/hamburgers.min.css">
    <!-- hamburgers -->
    <link rel="stylesheet" href="~/assets/css/hamburgers.min.css">
    <!-- twentytwenty -->
    <link rel="stylesheet" href="~/assets/css/twentytwenty.css">
    <!-- Date Picker -->
    <link href="~/assets/css/datepicker.min.css" rel="stylesheet" type="text/css">
    <!-- Time Picker -->
    <link rel="stylesheet" href="~/assets/css/wickedpicker.min.css">
    <!-- Main Stylesheet -->
    <link rel="stylesheet" href="~/assets/css/style.css">
    <!-- responsive Stylesheet -->
    <link rel="stylesheet" href="~/assets/css/responsive.css">
</head>
<body>

    <partial name="~/Views/Shared/Partials/_NavbarPartial.cshtml" />

    <div>
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <partial name="~/Views/Shared/Partials/_BrandAreaPartial.cshtml" />

    <partial name="~/Views/Shared/Partials/_FooterPartial.cshtml" />

    <!-- back to top area start -->
    <div class="back-to-top">
        <span class="back-top"><i class="fa fa-angle-up"></i></span>
    </div>
    <!-- back to top area end -->

    <!-- jquery -->
    <script src="~/assets/js/jquery-2.2.4.min.js"></script>
    <!-- popper -->
    <script src="~/assets/js/popper.min.js"></script>
    <!-- bootstrap -->
    <script src="~/assets/js/bootstrap.min.js"></script>
    <!-- magnific popup -->
    <script src="~/assets/js/jquery.magnific-popup.js"></script>
    <!-- wow -->
    <script src="~/assets/js/wow.min.js"></script>
    <!-- nice select -->
    <script src="~/assets/js/nice-select.js"></script>
    <!-- owl carousel -->
    <script src="~/assets/js/owl.carousel.min.js"></script>
    <!-- Slick -->
    <script src="~/assets/js/slick.min.js"></script>
    <!-- Slick Animation -->
    <script src="~/assets/js/slick-animation.js"></script>
    <!-- jquery.twentytwenty -->
    <script src="~/assets/js/jquery.twentytwenty.js"></script>
    <script src="~/assets/js/jquery.event.move.js"></script>
    <!-- waypoint -->
    <script src="~/assets/js/waypoints.min.js"></script>
    <!-- Date Picker -->
    <script src="~/assets/js/datepicker.min.js"></script>
    <script src="~/assets/js/datepicker.en.js"></script>
    <!-- Time Picker -->
    <script src="~/assets/js/wickedpicker.min.js"></script>
    <!-- counterup -->
    <script src="~/assets/js/jquery.counterup.min.js"></script>
    <!-- imageloaded -->
    <script src="~/assets/js/imagesloaded.pkgd.min.js"></script>
    <!-- isotope -->
    <script src="~/assets/js/isotope.pkgd.min.js"></script>
    <!-- rProgressbar -->
    <script src="~/assets/js/jQuery.rProgressbar.min.js"></script>
    <script src="~/assets/js/timepicker.js"></script>
    <!-- main js -->
    <script src="~/assets/js/main.js"></script>
    <script src="~/assets/js/script.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>

