
@*TODO Implement serach engine*@

<div class="col-lg-4">
    <div class="blog-right-content widget-area sidebar">
        <div class="widget widget_search">
            <form class="search-form">
                <div class="form-group">
                    <input type="text" name="search" class="form-control" placeholder="Search here">
                </div>
                <button class="submit-btn" type="submit"><i class="fa fa-search"></i></button>
            </form>
        </div>
        <div class="widget latest-post-widget">
            <div class="eidget-title">
                <h1>Latest posts</h1>
            </div>
            <div class="share-img-item">
                <div class="img-part">
                    <a asp-controller="Blogs" asp-action="Details"><img src="/assets/img/blog/latest-post.png" alt=""></a>
                </div>
                <div class="content-part">
                    <h4>People new gym center</h4>
                    <span class="text">There are many variations of passages of Lorem Ipsum</span>
                </div>
            </div>
            <div class="share-img-item">
                <div class="img-part">
                    <a asp-controller="Blogs" asp-action="Details"><img src="/assets/img/blog/post2.png" alt=""></a>
                </div>
                <div class="content-part">
                    <h4>Just like a stability ball</h4>
                    <span class="text">There are many variations of passages of Lorem Ipsum</span>
                </div>
            </div>
            <div class="share-img-item">
                <div class="img-part">
                    <a asp-controller="Blogs" asp-action="Details"><img src="/assets/img/blog/post3.png" alt=""></a>
                </div>
                <div class="content-part">
                    <h4>Cable Pulley Machines</h4>
                    <span class="text">There are many variations of passages of Lorem Ipsum</span>
                </div>
            </div>
            <div class="share-img-item">
                <div class="img-part">
                    <a asp-controller="Blogs" asp-action="Details"><img src="/assets/img/blog/post4.png" alt=""></a>
                </div>
                <div class="content-part">
                    <h4>Train different parts</h4>
                    <span class="text">There are many variations of passages of Lorem Ipsum</span>
                </div>
            </div>
        </div>
        <div class="widget">
            <div class="thumb only-thumb">
                <img src="/assets/img/blog/big-thumb.png" alt="">
            </div>
        </div>

        @*TODO Categories here*@

        <div class="widget widget_categories">
            <h5 class="widget-title">Categories</h5>
            <ul class="cat-menu">
                <li><a href="#">How to</a></li>
                <li><a href="#">Beginner Calisthenic</a></li>
                <li><a href="#">Advanced Calisthenic</a></li>
                <li><a href="#">Motivation</a></li>
                <li><a href="#">Workout/Training</a></li>
                <li><a href="#">Skills/Tehcnique</a></li>
            </ul>
        </div>
    </div>
</div>