@using Microsoft.AspNetCore.Identity
@using MyCalisthenicApp.Models

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager


@if (SignInManager.IsSignedIn(User))
{
    <li><a class="text-danger" asp-area="Identity" asp-page="/Account/Manage/Index">My profile</a></li>

    <li><a asp-area="Identity" asp-page="/Account/Logout">Logout</a></li>

}

else
{
    <li class="menu-item-has-children">
        <a href="#">Account</a>
        <ul class="sub-menu">
            <li><a asp-area="Identity" asp-page="/Account/Login">Sign In</a></li>
            <li><a asp-area="Identity" asp-page="/Account/Register">Sign Up</a></li>
        </ul>
    </li>
}
