<!-- footer area start -->
<footer class="footer-area footer-style-1 black-bg ">
    <div class="footer-top padding-top-30 padding-bottom-0">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-xl-4 col-md-6">
                    <div class="footer-widget widget">
                        <ul class="contact_info_list">
                            <li class="single-info-item">
                                <div class="icon">
                                    <i class="flaticon-phone-call"></i>
                                </div>
                                <div class="details">
                                    +359888414232
                                </div>
                            </li>
                            <li class="single-info-item">
                                <div class="icon">
                                    <i class="flaticon-placeholder"></i>
                                </div>
                                <div class="details">
                                    9 Kapitan Raicho street, Dryanovo
                                </div>
                            </li>
                            <li class="single-info-item">
                                <div class="icon">
                                    <i class="flaticon-email"></i>
                                </div>
                                <div class="details">
                                    svetoslav.kazakov@outlook.com
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="container">
                    <div class="col-lg-12">
                        <div class="copyright-area-inner copyright-sm margin-top-30 ">
                            © MyCalisthenicApp 2019 All rights reserved. Powered with <i class="fa fa-heart"></i>  by <a href="https://github.com/svetlyoek" target="_blank">svetlyoek</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- footer area end -->