@model NavbarSearchViewModel

<form asp-controller="Home" asp-action="Search" class="search-form">
    <div class="form-group">
        <input type="text" name="Text" class="form-control" placeholder="Search.....">
    </div>
    <button type="submit" class="submit-btn"><i class="fa fa-search"></i></button>
</form>