@model PostPageViewModel

<form asp-controller="Posts" asp-action="Search" class="search-form">
    <div class="form-group">
        <input type="text" name="Text" class="form-control" placeholder="Search here">
    </div>
    <button class="submit-btn" type="submit"><i class="fa fa-search"></i></button>
</form>